body {
    background-color: #f3f4f7;
}

.card {
    border: none !important;
    border-radius: 15px;
}

.btn-primary {
    background-color: #0062ff !important;
    border: none !important;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: 500;
}

.navbar {
    border-radius: 0 0 15px 15px;
}

h2, h4 {
    font-weight: 600;
}

input, select {
    border-radius: 10px !important;
}

.shadow-soft {
    box-shadow: 0px 4px 16px rgba(0,0,0,0.1);
}
